<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT cheques ANY>
<!ATTLIST cheques id ID #REQUIRED>
<!ELEMENT generic ANY>
<!ATTLIST generic id ID #REQUIRED>
<!ELEMENT cheque ANY>
<!ATTLIST cheque id ID #REQUIRED>
<!ELEMENT iMeta ANY>
<!ATTLIST iMeta id ID #REQUIRED>
<!ELEMENT iRoutable ANY>
<!ATTLIST iRoutable id ID #REQUIRED>
<!ELEMENT iSearchable ANY>
<!ATTLIST iSearchable id ID #REQUIRED>
<!ELEMENT iXmlSitemap ANY>
<!ATTLIST iXmlSitemap id ID #REQUIRED>
]>
<root id="-1">
  <generic id="1090" key="beaf7e69-5de4-431e-b82e-4120dea51f0f" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-07-03T22:55:13" updateDate="2017-07-03T22:55:13" nodeName="Home" urlName="home" path="-1,1090" isDoc="" nodeType="1083" creatorName="Mark Gil Libres" writerName="Mark Gil Libres" writerID="0" template="1084" nodeTypeAlias="generic">
    <browserPageTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserPageTitle>
    <openGraphTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></openGraphTitle>
    <browserWebsiteTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserWebsiteTitle>
    <browserDescription><![CDATA[{"values":null,"dtdGuid":"9e260486-f2bd-4f92-b261-03ab8c407fb4"}]]></browserDescription>
    <switchTitleOrder>0</switchTitleOrder>
    <excludeFromSearchResults>0</excludeFromSearchResults>
    <cheques id="1091" key="0c7d4dea-c662-42f9-a54e-d1260fea2028" parentID="1090" level="2" creatorID="0" sortOrder="0" createDate="2017-07-03T22:57:00" updateDate="2017-07-03T22:57:00" nodeName="Cheques" urlName="cheques" path="-1,1090,1091" isDoc="" nodeType="1089" creatorName="Mark Gil Libres" writerName="Mark Gil Libres" writerID="0" template="1088" nodeTypeAlias="cheques">
      <browserPageTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserPageTitle>
      <openGraphTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></openGraphTitle>
      <browserWebsiteTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserWebsiteTitle>
      <browserDescription><![CDATA[{"values":null,"dtdGuid":"9e260486-f2bd-4f92-b261-03ab8c407fb4"}]]></browserDescription>
      <switchTitleOrder>0</switchTitleOrder>
      <excludeFromSearchResults>0</excludeFromSearchResults>
      <cheque id="1082" key="61568d1a-42ea-458f-8598-140b84720b38" parentID="1091" level="3" creatorID="0" sortOrder="1" createDate="2017-07-03T20:53:33" updateDate="2017-07-03T22:59:12" nodeName="MarkG" urlName="markg" path="-1,1090,1091,1082" isDoc="" nodeType="1080" creatorName="Mark Gil Libres" writerName="Mark Gil Libres" writerID="0" template="1081" nodeTypeAlias="cheque">
        <chequeDate>2017-07-26T00:00:00</chequeDate>
        <chequeAmount>1500.1</chequeAmount>
        <chequeName><![CDATA[Mark Gil Libres]]></chequeName>
      </cheque>
      <cheque id="1092" key="15067358-d70c-45bd-95ca-ba4a5fe9449e" parentID="1091" level="3" creatorID="0" sortOrder="2" createDate="2017-07-04T01:22:46" updateDate="2017-07-04T01:22:46" nodeName="Jereme" urlName="jereme" path="-1,1090,1091,1092" isDoc="" nodeType="1080" creatorName="Mark Gil Libres" writerName="Mark Gil Libres" writerID="0" template="1081" nodeTypeAlias="cheque">
        <chequeDate>2017-07-30T00:00:00</chequeDate>
        <chequeAmount>2000</chequeAmount>
        <chequeName><![CDATA[Jereme]]></chequeName>
      </cheque>
    </cheques>
  </generic>
</root>